<div class="modal-body">
<%= form_for resource, :url => set_custom_city_user_registration_path(:area_id => @area_id, :area_name => @area_name),
  :html => { :id => "form_custom_city", :method => :put }, :remote => true do |f| %>
  
  <%= devise_error_messages! %>
	
	Выбран район
	<%= @area_name %>

	Свой город:
        <%= f.text_field :custom_city %>

  <div><%= f.submit "Ввести свой город" %></div>
  <span class="ajax_message"></span>
<% end %>
</div>





