<h2>Edit <%= resource_name.to_s.humanize %></h2>

    <br/><br/> 

     <span id="message_city"><%= @message_city %></span>    
     <span id="selected_city">
      	  <%= link_to @city_name,
            get_cities_user_registration_path,
            :remote => true, :method => :put,
            :id => "a_city_name" %>
      </span><br/>
      <span id="message_area"><%= @message_area %></span>
      <span id="selected_area">
      	<%= link_to @area_name,
            get_cities_user_registration_path,
            :remote => true, :method => :put,
            :id => "a_area_name" %>
      </span>
      
      <% unless (@city && @area) || (current_user.custom_city && current_user.area_id) %>
        <%= link_to "Choose Area or City",
          get_cities_user_registration_path,
          :remote => true, :method => :put,
          :id => "a_choose_area_city" %>
        <!--<div><a href="#location_modal" id="a_choose_area_city" role="button" data-toggle="modal">Choose Area or City</a></div>-->
      <% end %>
        

    
    <!-- Modal -->
    <div id="location_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
    </div>  
    <div id="custom_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<div id="custom_step_1"> 
      		Выберите район
      		 <ul>     	
        	   <%= render :partial => 'area', :collection => areas, :as => :item %>
        	 </ul>
        </div>
      </div> 
    </div> 
    
    <div id="custom_city_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
  
      </div> 
    </div>
    <br/><br/>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  
    <ul class="nav nav-tabs">
      <li class="active" ><a href="#home" data-toggle="tab">Личные даныне</a></li>
      <li><a href="#profile" data-toggle="tab">Изменить пароль</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
      	<div><%= f.label :name %><br />
        <%= f.text_field :name %></div>
        <div><%= f.label :phone_number %><br />
        	<div>десять цифр без 8 и +7</div>
        <%= f.text_field :phone_number, :maxlength => 10 %></div>       

        
      	<div><%= f.label :email %><br />
        <%= f.email_field :email %></div></div>
      <div class="tab-pane" id="profile">
       <div><%= f.label :password %><br />
        <%= f.password_field :password, :autocomplete => "off" %></div>
    
        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div> 
      </div>
    </div>
 
 <br /><br />


  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
