<%= form_for @car, :url => advert_path(@car) do |f| %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  
  <%= select_tag :engine_id, options_from_collection_for_select(@engines, "id", "name",:selected=>@car.engine_id) %>

  <div><%= f.submit "Update car!" %></div>
<% end %>