
<br/><br>
My Items
<ul>
  <% @my_cars.each do |ac| %>
    <li>ID: <%= ac.id %>, Name: <%= link_to ac.name, edit_advert_path(ac.id) %>, Model_ID: <%= ac.model_id %>, City_ID: <%= ac.city_id %>, User_ID: <%= ac.user_id %>, created: <%= ac.created_at %>, updated: <%= ac.updated_at %></li>
  <% end %>
</ul>
<br/><br>
<br/><br>
Paginate
<br/><br>
<%= form_tag adverts_path, :method => 'get', :id => "products_search" do %>
  <div id="products"><%= render 'paginate_cars' %></div>
<% end %>
<br/><br>
<ul>
  <%  @paginate_cars.each do |pc| %>
    <li>ID: <%= pc.id %>, Name: <%= pc.name %>, Model_ID: <%= pc.model_id %></li>
  <% end %>
</ul>
<%= will_paginate @paginate_cars  %>

<br/><br>