<b>New adv</b>
<br/><br>
<%= @models %>
<br/><br><br/><br>
<a href="#brand_modal" role="button" data-toggle="modal" id='a_brand_name'>Бренды</a>
<div id="brand_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <ul>
    <% @all_brands.each do |brand| %>
      <li>Name: <%= link_to brand.name, get_models_by_brand_adverts_path(:brand_id => brand.id, :brand_name => brand.name), :remote => true, :method => :post %></li>
    <% end %>
  </ul>
</div>
<br/><br>
<a href="#model_modal" role="button" data-toggle="modal" id='a_model_name' style="display: none;">Модели</a>
<div id="model_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='div_models'></div>
</div>
<br/><br>

<div id='div_category_name'></div>

<br/><br>
Все категории
<br/><br>
  <ul>
    <% @all_categories.each do |c| %>
      <li>Name: <%= link_to c.name %></li>
    <% end %>
  </ul>

<br/><br>
by category
<ul>
  <% @models.each do |m| %>
    <li>Name: <%= m.name %>, brand id: <%= m.brand_id %>, category id: <%= m.category_id %></li>
  <% end %>
</ul>

<ul>
  <% @brands.each do |b| %>
    <li>Name: <%= b.name %></li>
  <% end %>
</ul>



<br/><br><br/><br>
<ul>
  <% @all_models.each do |m| %>
    <li>Name:<%= m.name %>, brand id: <%= m.brand_id %>, category id: <%= m.category_id %></li>
  <% end %>
</ul>
