Form<br/>

<%= form_for @car, :url => test_post_adverts_path, :method => "post" do |f| %>
    <label>Minimum number of beds</label>
    <%= f.text_field :name %>
    <div id='slider'></div>
    <br><br>
    <div class="btn-group" data-toggle="buttons-radio">
      <% @engines1.each do |e| %>
        <button type="button" class="btn <%= @car.engine_id == "#{e.id}".to_i ? 'active' : '' %>" data-toggle="button" onclick="javascript:document.getElementById('car_input_engine_id').value='<%= "#{e.id}" %>'">
        	<%= "#{e.name}" %>
        </button>
      <% end %>
      <input type="hidden" id="car_input_engine_id" name="car[input_engine_id]" value="<%= @car.engine_id %>" />
    </div>
    <br><br>
    <%= f.submit "Test Post", :class => "btn btn-inverse" %>
<% end %>

<br><br><br>

 <form id="commentForm2" method="post">
 	<p>
 		<label for="years">Year: </label>
 	  <input id="years">
 	</p>
 	<p>
 		 <label class="control-label" for="num2">Your Name (min 5 char)</label>
  </p>
  <p>
    <input id="num2" class="required" minlength="5" />
  </p>
  <p>
     <input class="submit" type="submit" value="Submit"/>
  </p>
 </form>



<b>New adv</b>
<br/><br>
<%= @models %>
<br/><br>
<%= render 'form_city' %>
<br/><br>
<a href="#brand_modal" role="button" data-toggle="modal" id='a_brand_name'>Бренды</a>
<div id="brand_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <ul>
    <% @all_brands.each do |brand| %>
      <li>Name: <%= link_to brand.name, get_models_by_brand_adverts_path(:brand_id => brand.id, :brand_name => brand.name), :remote => true, :method => :post %></li>
    <% end %>
  </ul>
</div>
<br/><br>
<a href="#model_modal" role="button" data-toggle="modal" id='a_model_name' style="display: none;">Модели</a>
<div id="model_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='div_models'></div>
</div>
<br/><br>

<div id='div_category_name'></div>

<br/><br>
Форма<br>
<div id='div_form'></div>
<br/><br>

<br/><br>
All Items
<ul>
  <% @all_cars.each do |ac| %>
    <li>ID: <%= ac.id %>, Name: <%= ac.name %>, Model_ID: <%= ac.model_id %>, City_ID: <%= ac.city_id %>, User_ID: <%= ac.user_id %>, created: <%= ac.created_at %>, updated: <%= ac.updated_at %>, engine: <%= ac.engine_id %></li>
  <% end %>
</ul>

<br/><br>

Все категории
<br/><br>
  <ul>
    <% @all_categories.each do |c| %>
      <li>Name: <%= link_to c.name %></li>
    <% end %>
  </ul>

<br/><br>
by category
<ul>
  <% @models.each do |m| %>
    <li>Name: <%= m.name %>, brand id: <%= m.brand_id %>, category id: <%= m.category_id %></li>
  <% end %>
</ul>

<ul>
  <% @brands.each do |b| %>
    <li>Name: <%= b.name %></li>
  <% end %>
</ul>



<br/><br><br/><br>
<ul>
  <% @all_models.each do |m| %>
    <li>Name:<%= m.name %>, brand id: <%= m.brand_id %>, category id: <%= m.category_id %></li>
  <% end %>
</ul>
